<div style="font-size: 30px;
  text-align: center;
  margin: 20px;
  font-family: monospace;">Study about Subject and BehaviorSubject<br>
  <a href="https://www.c-sharpcorner.com/article/subject-and-behavior-subject-in-angular-8/">See more</a></div>
<hr>
<div style="display: flex;">
  <div style="text-align: center;
  font-size: x-large;
  margin: 20px;
  font-family: monospace;">Example of Subject in RxJs
    <div style="margin:10px" class="card-deck">
      <app-component-one></app-component-one>
      <app-component-two></app-component-two>
      <app-component-three></app-component-three>
    </div>
    <p>The Subject has no initial value</p>
  </div>
<hr>
  <div style="text-align: center;
  font-size: x-large;
  margin: 20px;
  font-family: monospace;">Example of BehaviorSubject in RxJs
    <div style="margin:10px" class="card-deck">
      <app-component-four></app-component-four>
      <app-component-five></app-component-five>
      <app-component-six></app-component-six>
    </div>
  <p>The BehaviorSubject has initial value</p>
  </div>
</div>
