<div style="display: flex;">

  <div style="text-align: center;
  font-size: x-large;
  margin: 20px;
  font-family: monospace;">Example of Subject in RxJs
    <div style="margin:10px" class="card-deck">
      <app-component-one></app-component-one>
      <app-component-two></app-component-two>
      <app-component-three></app-component-three>
    </div>
  </div>

  <div style="text-align: center;
  font-size: x-large;
  margin: 20px;
  font-family: monospace;">Example of BehaviorSubject in RxJs
    <div style="margin:10px" class="card-deck">
      <app-component-four></app-component-four>
      <app-component-five></app-component-five>
      <app-component-six></app-component-six>
    </div>
  </div>

</div>
